body {
    font-family: 'Lora', serif;
    background-color: #7BA3A3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.header {
    background-image: url('./resources/images/newyorkcity.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-height: 30rem;
    max-width: 100%;
    border-radius: 0 0 10px 10px;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    width: 50rem;
    list-style: none;
    padding: 0;
    font-size: 1.25rem;
}

li a {
    text-decoration: none;
    color: #F7F5F3;
    text-align: center;
}

li a:hover {
    color: #C5D5E4;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-betweena;
    align-content: center;
    text-align: center;
    background-color: #F7F5F3;
    margin: 15px;
    border-radius: 10px;
}

.card-image {
    display: block;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 0 0;
}

.card h4, .card h3 {
    margin: 0.5rem;
}