body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
}

.header {
    background-image: url('./resources/images/newyorkcity.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-height: 30rem;
    max-width: 100%;
    border-radius: 0 0 10px 10px;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    width: 50rem;
    list-style: none;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

li a:hover {
    background-color: #C5D5E4;
    color: black;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 10px;
}

.section {
    margin: 2.5rem;
}

.section > h2 {
    margin: 0;
    font-size: 2rem;
}

#description {
    width: 60%;
    margin: auto;
    font-style: italic;
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 1rem;
}

.card {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-betweena;
    align-content: center;
    text-align: center;
    background-color: #F6F4F4;
    margin: 1.25rem;
}

.card-image {
    display: block;
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    object-position: top;
}

.card p, .card h3 {
    margin: 0.6rem;
}

#portfolio h3 {
    font-size: 1.2rem;
}

.footer {
    background-color: #D1C7C7;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#contact {
    background-color: white;
    padding: 1rem
}

.footer img {
    display: block;
    height: 2rem;
    align-self: center;
    background-color: white;
    padding: 1rem
}