body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
}

/* Header */

.header {
    background-image: url('./resources/images/newyorkcity.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-nav-container {
    width: auto;
}

.logo img {
    max-height: 25rem;
    border-radius: 0 0 10px 10px;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    width: 50rem;
    list-style: none;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: hsl(209, 36%, 83%, 0.2);
    text-align: center;
    padding: 0.3rem;
    border-radius: 10px;
    transition: all 1s ease-in;
}

li a:hover {
    background-color: hsl(209, 36%, 83%, 0.9);
    color: black;
    padding: 0.5rem;
}

/* Main */

.section {
    margin: 2.5rem;
}

.section > h2 {
    margin: 0;
    font-size: 2rem;
}

/* Description Section */

#description {
    width: 60%;
    margin: auto;
    font-style: italic;
    padding: 1rem;
}

/* Portfolio and Team Sections */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 1rem;
}

.card {
    max-width: 18rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    background-color: #F6F4F4;
    margin: 1.25rem;
    flex: 1 1;
}

.card-image {
    display: block;
    height: 17rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.card p, .card h3 {
    margin: 0.6rem;
}

#portfolio h3 {
    font-size: 1.2rem;
}

/* Footer */

.footer {
    background-color: #D1C7C7;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#contact {
    background-color: white;
    padding: 1rem;
}

.footer img {
    display: block;
    height: 2rem;
    align-self: center;
    background-color: white;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {
    .header {
        height: auto;
        width: 100%;
        /* overflow: hidden; */
    }

    .logo img {
        width: 100%;
    }

    .nav ul {
        width: 100%;
        justify-content: space-around;
        font-size: 1rem;
    }

    #description {
        width: 90%;
    }

    .section {
        margin: 0;
    }

    .card {
        margin: 0.75rem;
    }
}

@media only screen and (max-width: 650px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 0.75rem;
        padding: 1rem;
    }

    .footer img {
        height: 1rem;
        padding: 0.25rem;
    }

    #contact {
        padding: 0 0.5rem;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 560px) {
    .card-container {
        padding: 0.75rem;
    }

    .card {
        max-width: 13rem;
        min-width: 11rem;
        margin: 0.5rem;
    }

    .card-image {
        height: 12rem;
    }

    /* .card-text {
        justify-self: center;
    } */

    .card-text p, .card-text h3 {
        margin: 0.2rem;
        font-size: 0.8rem;
    }

    #portfolio h3,
    .card-text h3 {
        font-size: 1rem;
    }
}